h2 {
  font-family: Lato, "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
}

.top  {
  padding: 50px;
  background: #f3f3f3;
}

.rightlogo {
  background: url("../assets/images/logo.png");
  background-size: contain;
  height: 100px;
  width: 100px;
  position: relative;
  float: right;
}

.button,
.action .customer-form {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  background: #016aba;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.actionlist {
  padding: 30px 30px 10px;
}

.button:hover {
  opacity: 1;
}

.address {
  border-spacing: 5px;
  margin-bottom: 20px;
}

nav {
  background: #016aba;
}

.menu h1,
.menu .links a {
  color: #fff;
  display: inline-block;
}

.menu .links {
  padding: 0 21px;
  display: inline-block;
}
.customer-form {
  max-width: fit-content;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  
}

.upi {
  width: 25%;
  padding: 4px;

}

.customer-form [type="text"], input[type="password"]{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.customer-detail {
  max-width: 600px;
  margin: 4 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}
