<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>BankApp</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>  

  {{#unless this.nav.isLoggedIn}}
    <LinkTo @route="login" class="menu-login" >
      Login
    </LinkTo>
  {{/unless}}
  {{#if this.nav.isLoggedIn}}
  <LinkTo @route="customer-detail" @model={{this.nav.customer_id}} class="menu-detail">
  My detail
  </LinkTo>
    <LinkTo @route="logout" class="menu-logout">
      Logout 
    </LinkTo>
    {{/if}}
  </div>
</nav>