
<Top>
  <h2>Contact Us</h2>
  <p>Bank-app description.
  </p>
  <div class="address">
  <address>
    Address line 1<br>
    <a href="tel:1234567890">1234567890</a><br>
    <a href="mailto:abc@abc.com">abc@abc.com</a>
  </address>
  </div>
  <LinkTo @route="index" class="button">Home</LinkTo>
</Top>
