<Top>
    <h2>Welcome to Bank-app!</h2>
    <p>bank-app description.</p>
    <LinkTo @route="about" class="button">About us</LinkTo>

</Top>
<Actions>
<LinkTo @route="customer-form" class="button">Create new customer.</LinkTo>
</Actions>